<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    
    <link rel="stylesheet" href="../css/components/promotions.css">
    <link rel="stylesheet" href="../css/components/categories.css">
    <link rel="stylesheet" href="../css/components/products.css">
    <title>
        PintaBar
    </title>
</head>

<body>
    <%- include('../partials/header') %>

    <main>
        <% if (locals.msg) { %>
            <section class="messages msg-<%= msg.type %>">
                <p><%= msg.message %></p>
            </section>
        <% } %> 
        
        <% if (category) { %>
            <% if (products.length === 0) { %>
                <section class="result-msg">
                    <p>No encontramos esta categoría :(</p>
                </section>
            <% } else { %>
                <section class="products">
                    <div class="products__title">
                        <p>Nuestras <%= category %></p>
                    </div>
        
                    <%for (let product of products) { %>
                        <div class="products__item">
                            <img src="/img/products/<%= product.img %>" alt="Imagen categoria">
                            <div class="item__info">
                                <a href="/products/<%= product.id %>" class="name"><%= product.name %></a>
                                <p class="price">$ <%= product.price %></p>
                            </div>
                            <button class="item__add">+</button>
                        </div>
                    <% } %>
                </section>       
            <% } %>
        <% } %>

        <section class="products">
            <div class="products__title">
                <p>Nuestros productos</p>
            </div>

            <% for (let product of productsAll) { %>
                <div class="products__item">
                    <img src="/img/products/<%= product.img %>" alt="Imagen categoria">
                    <div class="item__info">
                        <a href="/products/<%= product.id %>" class="name"><%= product.name %></a>
                        <p class="price">$ <%= product.price %></p>
                    </div>
                    <button class="item__add">+</button>
                </div>
            <% } %>
            
        </section>
        
        <%- include('../partials/promotions') %>
        
    </main>

     <%- include('../partials/footer') %>
     <% if (locals.isLogged) { %>
        <%- include('../partials/scriptsLogged') %>
    <% } %> 

</body>

</html>