<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    
    <link rel="stylesheet" href="../css/components/promotions.css">
    <link rel="stylesheet" href="../css/components/categories.css">
    <link rel="stylesheet" href="../css/components/products.css">
    <title>
        PintaBar
    </title>
</head>

<body>
    <%- include('../partials/header') %>

    <main>
        <% if (locals.msg) { %>
            <section class="messages msg-<%= msg.type %>">
                <p><%= msg.message %></p>
            </section>
        <% } %> 
        
        <% if (category) { %>
            <% if (products.length === 0) { %>
                <section class="result-msg">
                    <p>No encontramos esta categoría :(</p>
                </section>
            <% } else { %>
                <section class="products">
                    <div class="products__title">
                        <p>Nuestras <%= category %></p>
                    </div>
        
                    <%for (let product of products) { %>
                        <div class="products__item">
                            <img src="/img/products/<%= product.image %>" alt="Imagen categoria">
                            <div class="item__info">
                                <a href="/products/<%= product.id %>" class="name"><%= product.name %></a>
                                <p class="price">$ <%= product.price %>.<span>00</span></p>
                            </div>
                            <button class="item__add">+</button>
                        </div>
                    <% } %>
                </section>       
            <% } %>
        <% } %>

        <section class="products">
            <div class="products__title">
                <p>Nuestros productos</p>
            </div>

            <% for (let product of products) { %>
                <div class="products__item">
                    <img src="/img/products/<%= product.image %>" alt="Imagen categoria">
                    <div class="item__info">
                        <a href="/products/<%= product.id %>" class="name"><%= product.name %></a>
                        <p class="price">$ <%= product.price %>.<span>00</span></p>
                    </div>
                    <button class="item__add">+</button>
                </div>
            <% } %>
            
        </section>
        
        <!--
        <section class="products">
            <div class="products__title">
                <p>Nuestras Birras Artesanales</p>
            </div>

            <div class="products__item">
                <img src="img/categories/drinks/pinta-img.jpg" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Cerveza APA</p>
                    <p class="price">$ 380.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/categories/drinks/pinta-img.jpg" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Cerveza GOLDEN</p>
                    <p class="price">$ 350.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/categories/drinks/pinta-img.jpg" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Cerveza SCOTISH</p>
                    <p class="price">$ 380.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
        </section>

        <section class="products">
            <div class="products__title">
                <p>Productos Patagonia</p>
            </div>
            <div class="products__item">
                <img src="img/categories/drinks/CervezaPatagoniaAbrazodeOsoLata473ml.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Cerveza OSO </p>
                    <p class="price">$ 320.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/categories/drinks/CervezaPatagoniaVeraIPALata410ml.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Patagonia Vera IPA</p>
                    <p class="price">$ 340.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/categories/drinks/24CervezasPatagoniaWeisseLta410ml.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Cerveza WEISSE</p>
                    <p class="price">$ 350.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/categories/drinks/Patagonia_BohemianPilsener_410ml_1000x1000px.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Cerveza BOHEMIAN</p>
                    <p class="price">$ 380.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/categories/drinks/CervezaPatagoniaAbrazodeOsoLata473ml.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Patagonia OSO </p>
                    <p class="price">$ 320.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/categories/drinks/PackIsidrax24Latas473ml.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Patagonia Sidra </p>
                    <p class="price">$ 320.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/categories/drinks/Patagonia_247_410ml_1000x1000px.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Patagonia 24.7 </p>
                    <p class="price">$ 320.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/categories/drinks/Patagonia_AmberLager_410ml_1000x1000px.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Patagonia AMBER </p>
                    <p class="price">$ 320.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
        </section>

        <section class="products">
            <div class="products__title">
                <p>Birras Artesanales - Argentinas</p>
            </div>
            <div class="products__item">
                <img src="img/categories/drinks/okcidenta-logo.jpg" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Ockidenta </p>
                    <p class="price">$ 380.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/categories/drinks/sandiego-logo.png" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">San Diego</p>
                    <p class="price">$ 380.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/categories/drinks/faucaria-logo.png" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Faucaria</p>
                    <p class="price">$ 350.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/categories/drinks/psicotella-logo.png" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">psicotella</p>
                    <p class="price">$ 380.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
        </section>

        -->

        <%- include('../partials/promotions') %>
        
    </main>

     <%- include('../partials/footer') %>

</body>

</html>