<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head') %>
    
    <link rel="stylesheet" href="css/components/items-list.css">
    <title>
        Mi Carrito | PintaBar
    </title>
</head>

<body>

    <%- include('../partials/header') %>

    <main class="main">
        <!--Inicio Main-->
        <section class="section-selected">
            <div class="section-title">
                <div class="title">
                    <h2>Lista del pedido</h2>
                </div>
                <span class="title-icon"><button><i class="bi bi-trash3-fill"></i></button></span>
                <span class="title-icon"><button><i class="bi bi-arrow-left-circle"></i></button></span>
            </div>

            <% for(product of cart.products) { %>
                <article class="article-selected">
                    <img src="/img/products/<%= product.img %>">
                    <div class="article-description">
                        <h4><%= product.name %></h4>
                        <h5>$ <%= product.price %></h5>
                    </div>
                    <div class="buttons-carry">
                        <button><i class="bi bi-plus-square-fill"></i></button>
                        <input readonly="readonly" value="1">
                        <button><i class="bi bi-dash-square-fill"></i></button>
                        <div class="delete-button"><button><i class="bi bi-trash3-fill"></i></button></div>
                    </div>
                </article>
            <% } %>

            <div class="div-payment">
                <h4>Total: $ <%= cart.total %></h4>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>
    <% if (locals.isLogged) { %>
        <%- include('../partials/scriptsLogged') %>
    <% } %> 

</body>

</html>