<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/components/form.css">
    <link rel="stylesheet" href="/css/components/formProduct.css">
    <title>
        Cerveza 437 ml | PintaBar
    </title>
</head>
<body>
    
    <%- include('../partials/header') %>

    <main>
        <section class="header-user2">
            <h2>Actualizar producto</h2>
            <h4>Modifica los siguientes campos</h4>
        </section>
        <form class="form" method="POST" action="/products/<%= product.id %>/update?_method=PUT" enctype="multipart/form-data">
            <div class="product__img">
                <img src="/img/products/<%= product.img %>" alt="Imagen producto">
                <label for="product-img">Nueva imagen:</label>
                <input type="file" name="image" id="product-img" value="<%= product.img %>">
            </div>
            <input class="controls" type="text" placeholder="Tituto" name="name" value="<%= product.name %>" required>
            <input class="controls" type="number" placeholder="Stock" name="stock" 
            value="<%= product.stock %>" required>
            <input class="controls" type="number" placeholder="Precio" name="price" 
            value="<%= product.price %>" required>
            <input class="controls" type="number" placeholder="Descuento" name="discount" 
            value="<%= product.discount %>" required>
            <textarea class="controls" name="description" id="" cols="30" rows="10" placeholder="Descripción"><%= product.description %></textarea>
            
            <div class="product__categories">
                <p>Categorias:</p>
                <% for(let category of categories){ %>
                          <div class="categories__item">
                        <label for=""> 
                            <% if (locals.product) { %>
                                <% if (locals.product.category === category.slugTitle) { %>
                                <input type="radio" name="category"  value="<%= category.slugTitle %>" checked> <%= category.title %>
                                <% } else { %>
                                <input type="radio" name="category" value="<%= category.slugTitle %>"> <%= category.title %>
                                <% } %>
                            <% } %>
                       
                        </label>
                    </div>
                <% } %>
            </div>
            
            <input class="botons" type="submit" value="Actualizar producto">
        </form>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>