<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/components/login.css">
    <link rel="stylesheet" href="/css/components/formProduct.css">
    <title>
        Cerveza 437 ml | PintaBar
    </title>
</head>
<body>
    
    <%- include('../partials/headerLogged') %>

    <main>
        <section class="header-user2">
            <h2>Actualizar producto</h2>
            <h4>Modifica los siguientes campos</h4>
        </section>
        <form class="Login" method="POST" action="/products/<%= product.id %>/update?_method=PUT">
            <div class="product__img">
                <img src="" alt="Imagen producto">
                <label for="product-img">Nueva imagen:</label>
                <input type="file" name="image" id="product-img">
            </div>
            <input class="controls" type="text" placeholder="Tituto" name="title" value="<%= product.title %>" required>
            <input class="controls" type="number" placeholder="Precio" name="price"  value="<%= product.price %>" required>
            <textarea class="controls" name="description" id="" cols="30" rows="10" placeholder="Descripción"><%= product.description %></textarea>
            
            <div class="product__categories">
                <p>Categorias:</p>
                <% for (let i=0; i < categories.length; i++) { %>
                    <div class="categories__item">
                        <label for="">
                            <% if (i === 0) { %>
                            <input type="radio" name="category" value="<%= categories[i].id %>" checked> <%= categories[i].title %> 
                            <% } else { %>
                                <input type="radio" name="category" value="<%= categories[i].id %>"> <%= categories[i].title %> 
                            <% } %>
                        </label>
                    </div>
                <% } %>
            </div>
            
            <input class="botons" type="submit" value="Actualizar producto">
        </form>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>