<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('./partials/head') %>

    <link rel="stylesheet" href="css/components/header-user.css">
    <link rel="stylesheet" href="css/components/promotions.css">
    <link rel="stylesheet" href="css/components/categories.css">
    <link rel="stylesheet" href="css/animations/text-flicker-in-glow.css">
    <title>
        Home | PintaBar 
    </title>
</head>
<body>
    <%- include('./partials/header') %>

    <main>
        <section class="header-user">
                <% if (locals.isLogged) { %>
                    <h2>Hola <%= locals.userLogged.name %></h2>
                <% } else { %>
                    <h2>Bienvenid<img src="/img/icons/X.png"></h2>
                <% } %> 
                <h3>
                    No te quedes sin un lugar! Podés reservar tu mesa para vos y tus amig@s desde aquí. 
                    Te esperamos! 
                    <img src="img/title/beer.png" alt="Img beer">
                </h3>
                <button><i class="bi bi-geo-alt-fill"></i> Reservar en PintaBar</button>
        </section>
        
        <%- include('./partials/promotions') %>

        <%- include('./partials/categories') %>

    </main>

    <%- include('./partials/footer') %>
    <% if (locals.isLogged) { %>
        <%- include('./partials/scriptsLogged') %>
    <% } %> 
</body>
</html>