<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    
    <link rel="stylesheet" href="../css/components/user-list.css">
    <title>
       Appinta
    </title>
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <% if (locals.msg) { %>
            <section class="messages msg-<%= msg.type %>">
                <p><%= msg.message %></p>
            </section>
        <% } %>
                <section class="products">
                    <div class="products__title">
                        <p>Usuarios</p>
                    </div>
                    <%for (let user of usuarios) { %>
                        <div class="products__item">
                            <img src="/img/products/<%= user.avatar %>" alt="Imagen categoria">
                            <div class="item__info">
                                <a href="/products/<%= user.id %>" class="name"><%= user.name %></a>
                                <p class="price">$ <%= product.price %>.<span>00</span></p>
                            </div>
                            <button class="item__add">+</button>
                        </div>
                    <% } %>
                </section>       
            <% } %>
        <% } %>    
        <%- include('../partials/promotions') %>
        
    </main>
     <%- include('../partials/footer') %>
     <% if (locals.isLogged) { %>
        <%- include('../partials/scriptsLogged') %>
    <% } %> 
</body>

</html>