<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <link rel="stylesheet" href="../css/components/header-user.css">
        <link rel="stylesheet" href="../css/components/promotions.css">
        <link rel="stylesheet" href="../css/components/categories.css">
        <link rel="stylesheet" href="../css/components/register.css">
        <link rel="stylesheet" href="../css/components/imageField.css">
        <link rel="stylesheet" href="../css/components/form.css">
        <title>
            Registro | PintaBar
        </title>
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <section class="header-user2">
                <h2>Bienvenid<img src="/img/icons/X.png">
                    <img src="../img/title/beer.png" alt="Img beer">
                </h2>
                <h4>
                    Formulario de registro
                </h4>
            </section>
          
            <form class="form-register form" method="POST" action="/user/register" enctype="multipart/form-data">

                <% if(locals.errorForm){ %>
                    <p class="form__error-msg">
                        <%= errorForm %>
                    </p>
                <% } %>

                <div class="form__avatar-field">
                    
                    <div class="field-wrapper">
                        <div id="image-avatar">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <span id="fakeButton"><i class="bi bi-camera"></i></span>
                        <input type="file" name="avatar" id="avatar">
                    </div>
                    <% if(locals.errors && errors.avatar){ %>
                        <div class="avatar-field__message">
                            <p class="form__error-msg">
                                <%= errors.avatar.msg %>
                            </p>
                        </div>
                    <% } %>
                </div>
              
                <div class="form__field">
                    <input class="controls <%= locals.errors && errors.name ? 'is-invalid': null %>" type="text" name="name" id="name" placeholder="Ingrese su Nombre"
                    value ="<%= locals.oldData ? oldData.name : null %>">
                            
                    <% if(locals.errors && errors.name){ %>
                        <p class="form__error-msg">
                            <%= errors.name.msg %>
                        </p>
                    <% } %>
                </div>

                <div class="form__field">
                    <input class="controls <%= locals.errors && errors.surname ? 'is-invalid': null %>" type="text" name="surname" id="surname"
                        placeholder="Ingrese su Apellido" minlength="2" value ="<%= locals.oldData ? oldData.surname : null %>">
                    <% if(locals.errors && errors.surname){ %>
                        <p class="form__error-msg">
                            <%= errors.surname.msg %>
                        </p>
                    <% } %>
                </div>

                <div class="form__field">
                    <input class="controls <%= locals.errors && errors.email ? 'is-invalid': null %>" type="email" name="email" id="email" placeholder="Ingrese su Correo" 
                    value ="<%= locals.oldData ? oldData.email : null %>">
                    <% if(locals.errors && errors.email){ %>
                        <p class="form__error-msg">
                            <%= errors.email.msg %>
                        </p>
                    <% } %>
                </div>

                <div class="form__field">
                    <input class="controls <%= locals.errors && errors.birthDate ? 'is-invalid': null %>" type="date" name="birthDate" placeholder="Ingrese fecha nacimiento"  
                    value="<%= locals.oldData ? oldData.birthDate : null %>">
                    <% if(locals.errors && errors.birthDate){ %>
                        <p class="form__error-msg">
                            <%= errors.birthDate.msg %>
                        </p>
                    <% } %>
                </div>
                
                <div class="form__field">
                    <input class="controls <%= locals.errors && errors.password ? 'is-invalid': null %>" type="password" name="password" id="password" placeholder="Ingrese su Contraseña"
                    value =""><br>
                    <% if(locals.errors && errors.password){ %>
                        <p class="form__error-msg">
                            <%= errors.password.msg %>
                        </p>
                    <% } %>
                    <ul class="password-help d-none">
                        <li>Debe tener al menos 6 caracteres.</li>
                        <li>Debe tener al menos un caracter.</li>
                        <li>Debe tener al menos un número.</li>
                    </ul>
                    <input class="controls <%= locals.errors && errors.rpassword ? 'is-invalid': null %>" type="password" name="rpassword" id="rpassword" placeholder="Repita su Contraseña"
                    value =""><br>
                    <% if(locals.errors && errors.rpassword){ %>
                        <p class="form__error-msg">
                            <%= errors.rpassword.msg %>
                        </p>
                    <% } %>
                </div>
                
                <input class="checkbox" type="checkbox" required> Mayor de 18 años<br>
                <a href="/user/login" class="Login">Ingresar</a>
                <input class="botons" type="submit" value="Registrarse">
            </form>
        </main>

        <%- include('../partials/footer') %>
        <script src="/js/imageField.js"></script>
        <script src="/js/register.js"></script>
</body>

</html>